h1, h2{
        text-align: center;
        color: #424458;

}
/* Espacement entre les questions */

/* Masquer les checkbox et les paragraphes */
.section input,
.section p{
        display: none;
}

/* Si le checkbox est coché, montrer le paragraphe, c'est avec le checkbox qu'on sait quel réponse dérouler*/
.section input[type=checkbox]:checked~p{
        display: block;
        color: black;
        font-size: 1em;
}

/* Style des labels */
.section label{
        margin-left: 15%;
        margin-right: 15%;
        background: #eee;
        display: block;
        position: relative;
        padding: 7px 10px;
        font-weight: bold;
        border: 1px solid #ddd;
        border-left: 3px solid #888;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);

}


/* Style du label si le checkbox est coché */
.section input[type=checkbox]:checked~label{
        border-color: #505cd5;
        background: #90b0f8;
        background-image: linear-gradient(to bottom, #fff, #5b7db7); /*effet dégradé*/
        box-shadow: 0 0 1px rgba(0,0,0,.4);
}

/*gérer la flèche*/
.section label::before{ /*syntaxe pour metre une flèche*/
        content: '';
        position: absolute;
        right: 4px;/*flèche à droite*/
        top: 50%;
        margin-top: -6px;
        border: 6px solid transparent;
        border-left-color: inherit;
}

/* gérer flèche quand la Q est sélectionnée */
.section input[type=checkbox]:checked~label::before{
        border: 6px solid transparent;
        border-top-color: inherit;
        margin-top: -3px;
        right: 10px;
}

p{
margin-left: 20%;
}


